body {position: relative;}

center {
	padding-top: 150px;
}

ul {
	padding: 0;
}
#top-right {
	float: right;
}

.header-button {
	list-style-type: none;
	display: inline;
	padding: 5px;

}

#footer {
	padding: 1rem;
	background-color: #efefef;
}

.left-footer-button {
	list-style-type: none;
	display: inline;
	padding-right: 27px;
}

.right-footer-button {
	list-style-type: none;
	display: inline;
	padding-left: 27px;
}

#left-footer {
	float: left;
}

#right-footer {
	float: right;
}